.features {
  text-align: center;
}

.features__intro {
  max-width: 485px;
  margin: auto;

  @media (min-width: $tablet-width) {
    max-width: 680px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 780px;
  }
}

.features__heading {
  font-size: 18px;
  font-weight: 700;
  color: $black;
  margin: 32px 10px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 21px 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 32px 10px;
  }
}

.features__text {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: features;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 18px 0 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 5px 0 45px;
  }
}

.features__item {
  counter-increment: features;
}

.features__item-illustrated {
  color: $white;
  background-color: $blue_200;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
  }
}

@media (max-width: $mobile-width) {
  .features__item-illustrated:first-child {
    background-image: url("../../img/decor/mask-triangle.svg");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 45px;
  }
}

.features__item-illustrated-wrap {
  padding: 22px 12px;

  @media (min-width: $tablet-width) {
    padding: 20px 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 5px 32px;
  }
}

.features__item-illustrated--bridge {
  .features__item-illustrated-wrap {
    padding: 35px 12px 20px;

    @media (min-width: $tablet-width) {
      padding: 20px 32px;
    }

    @media (min-width: $desktop-width) {
      padding: 25px 55px;
    }
  }
}

.features__item-illustrated--town::after,
.features__item-illustrated--bridge::after {
  display: block;
  content: "";
  height: 260px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
    height: 256px;
  }
}

.features__item-illustrated--town::after {
  background-image: url("../../img/background/photo-city@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background/photo-city@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/background/photo-city-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/photo-city-tablet@2x.jpg");
    }
  }
}

.features__item-illustrated--bridge::after {
  background-image: url("../../img/background/photo-bridge@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background/photo-bridge@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    order: -1;
    background-image: url("../../img/background/photo-bridge-tablet@1x.jpg");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background/photo-bridge-tablet@2x.jpg");
  }
}

.features__item-simple {
  background-color: $grey_100;
  padding: 20px 35px 10px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding: 20px 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 55px;

    .features__title {
      margin: 21px 70px 14px;
    }
  }
}

@media (max-width: $mobile-width) {
  .features__item-simple + .features__item-simple::before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: $grey_600;
    left: 20px;
    right: 20px;
    top: 0;
  }
}

.features__title {
  font-size: 18px;
  font-weight: 700;
  color: $black;
  margin: 5px 20px 14px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 21px 20px 14px;
  }

  @media (min-width: $desktop-width) {
    margin: 21px 30px 14px;
  }
}

.features__title-illustrated {
  color: $white;
}

.features__description {
  line-height: 21px;
}

.features__description::before {
  display: block;
  content: "— №" counter(features) " —";
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.features__town {
  grid-column: 1 / -1;
  order: 3;
}
