.features-town {
  background-color: $white;
}

.features-town__list {
  list-style: none;
  margin: 0;
  padding: 16px 20px 13px 69px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin: 38px 0;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.features-town__item {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 96px 20px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 40px 20px;
  }
}

.features-town__item--food {
  @media (min-width: $tablet-width) {
    padding: 96px 40px 20px;
  }
}

.features-town__item::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-125%, -25%);
}

.features-town__item--housing::before {
  background-image: url("../../img/decor/house.svg");
}

.features-town__item--souvenir::before {
  background-image: url("../../img/decor/gift.svg");
}

.features-town__item--food::before {
  background-image: url("../../img/decor/burger.svg");
}

.features-town__title {
  color: $black;
  font-size: 18px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 26px 10px 23px;
  }
}

.features-town__description {
  color: $grey_800;
  line-height: 21px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .features-town__item--souvenir {
    order: 2;
  }

  .features-town__item::before {
    background-size: 76px 75px;
    width: 76px;
    height: 75px;
    transform: translate(-50%, -100%);
  }
}
