@charset "UTF-8";
img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@media (min-width: 1200px) {
  .hide-show__hide-desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .hide-show__hide-tablet {
    display: none;
  }
}
@media (max-width: 767px) {
  .hide-show__hide-mobile {
    display: none;
  }
}
.page {
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.page__body {
  min-width: 320px;
  margin: 0;
  color: #333333;
  background-color: #f2f2f2;
}

.page__wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .page__wrapper {
    min-width: 768px;
  }
}
@media (min-width: 1200px) {
  .page__wrapper {
    width: 1200px;
  }
}

.page__inner {
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .page__inner {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (min-width: 1200px) {
  .page__inner {
    padding-right: 120px;
    padding-left: 120px;
  }
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__logo {
  height: 56px;
  z-index: 2;
}
.page-header__logo--disabled {
  pointer-events: none;
}
@media (min-width: 768px) {
  .page-header__logo {
    position: absolute;
  }
}

@media (min-width: 1200px) {
  .page-header__logo-img {
    height: 96px;
    width: 187px;
  }
}
@media (max-width: 767px) {
  .page-header__nav {
    order: -1;
  }
}
@media (min-width: 768px) {
  .page-header__nav {
    min-height: 56px;
  }
}

.page-header__foto {
  background-color: #c3d8e4;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto, cover;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .page-header__foto {
    margin-top: 0;
  }
}

.page-header__foto--main {
  min-height: 389px;
  background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-mobile--main.jpg");
}
@media (min-resolution: 2dppx) {
  .page-header__foto--main {
    background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-mobile--main@2x.jpg");
  }
}
@media (min-width: 768px) {
  .page-header__foto--main {
    min-height: 518px;
    background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-tablet--main.jpg");
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .page-header__foto--main {
    background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-tablet--main@2x.jpg");
  }
}

.page-header__welcome {
  min-width: 282px;
  min-height: 214px;
  margin: 90px 10px 85px;
}
@media (min-width: 768px) {
  .page-header__welcome {
    margin: 75px 10px 90px;
    min-width: 465px;
    min-height: 350px;
  }
}

.page-header__foto--not_main {
  min-height: 158px;
  background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-mobile.jpg");
}
@media (min-resolution: 2dppx) {
  .page-header__foto--not_main {
    background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .page-header__foto--not_main {
    max-height: 290px;
    background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-tablet.jpg");
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .page-header__foto--not_main {
    background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .page-header__foto--not_main {
    max-height: 311px;
  }
}

.page-header__sedona {
  min-width: 229px;
  min-height: 39px;
  margin: 65px 10px 50px;
}
@media (min-width: 768px) {
  .page-header__sedona {
    margin: 95px 10px 115px;
    min-width: 460px;
    min-height: 80px;
  }
}
@media (min-width: 1200px) {
  .page-header__sedona {
    margin: 101px 10px 120px;
  }
}

.main-nav {
  width: 100%;
  position: relative;
}

.main-nav__toggle {
  display: none;
}

.main-nav__toggle--js {
  display: block;
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 2;
  cursor: pointer;
  background-image: url(../img/icon/cross.svg);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .main-nav__toggle--js {
    display: none;
  }
}

.main-nav__toggle--js:hover {
  opacity: 0.6;
}

.main-nav__toggle--js:active {
  opacity: 0.3;
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--closed .main-nav__toggle--js {
    background-image: url(../img/icon/menu.svg);
  }
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .main-nav__list {
    background-color: #81b3d2;
  }
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .main-nav__item {
    margin-bottom: 1px;
  }
  .main-nav__item:not(:first-child),
  .main-nav__item:not(:last-child) {
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
  .main-nav__item:first-child {
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);
  }
  .main-nav__item:last-child {
    box-shadow: inset 0 -10px 6px -7px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .main-nav__item:hover {
    background-color: #669ec0;
  }
  .main-nav__item:active {
    background-color: #5496bd;
  }
  .main-nav__item:active .main-nav__link {
    opacity: 0.3;
  }
}
@media (min-width: 768px) {
  .main-nav__item {
    width: 20%;
  }
  .main-nav__item:nth-child(4n-2) {
    margin-right: 20%;
  }
  .main-nav__item:hover .main-nav__link {
    color: #81b3d2;
  }
  .main-nav__item:active .main-nav__link {
    opacity: 0.3;
  }
}
.main-nav__link {
  display: block;
  font-weight: 700;
  color: #000000;
  padding: 15px 5px;
  text-align: center;
}
@media (max-width: 767px) {
  .main-nav__link {
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    padding: 10px 10px 5px;
  }
}

@media (min-width: 768px) {
  .main-nav__link--current {
    color: #766357;
  }
  .main-nav__item--current:hover .main-nav__link--current {
    color: #604e43;
  }
}
.features {
  text-align: center;
}

.features__intro {
  max-width: 485px;
  margin: auto;
}
@media (min-width: 768px) {
  .features__intro {
    max-width: 680px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .features__intro {
    max-width: 780px;
  }
}

.features__heading {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin: 32px 10px;
}
@media (min-width: 768px) {
  .features__heading {
    font-size: 21px;
    margin: 21px 10px;
  }
}

.features__text {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .features__text {
    margin-top: 30px;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: features;
}
@media (min-width: 768px) {
  .features__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 15px 0 45px;
  }
}

.features__item {
  counter-increment: features;
}

.features__item-illustrated {
  color: #ffffff;
  background-color: #81b3d2;
  display: grid;
}
@media (min-width: 768px) {
  .features__item-illustrated {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/-1;
  }
}

@media (max-width: 767px) {
  .features__item-illustrated:first-child {
    background-image: url("../img/decor/mask-triangle.svg");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 45px;
  }
}
.features__item-illustrated-wrap {
  padding: 22px 12px;
}
@media (min-width: 768px) {
  .features__item-illustrated-wrap {
    padding: 20px 32px;
  }
}

.features__item-illustrated--bridge .features__item-illustrated-wrap {
  padding: 35px 12px 20px;
}

.features__item-illustrated--town::after,
.features__item-illustrated--bridge::after {
  display: block;
  content: "";
  height: 260px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
@media (min-width: 768px) {
  .features__item-illustrated--town::after,
  .features__item-illustrated--bridge::after {
    grid-column: span 2;
    height: 256px;
  }
}

.features__item-illustrated--town::after {
  background-image: url("../img/background/photo-city@1x.jpg");
}
@media (min-resolution: 2dppx) {
  .features__item-illustrated--town::after {
    background-image: url("../img/background/photo-city@2x.jpg");
  }
}
@media (min-width: 768px) {
  .features__item-illustrated--town::after {
    background-image: url("../img/background/photo-city-tablet@1x.jpg");
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .features__item-illustrated--town::after {
    background-image: url("../img/background/photo-city-tablet@2x.jpg");
  }
}

.features__item-illustrated--bridge::after {
  background-image: url("../img/background/photo-bridge@1x.jpg");
}
@media (min-resolution: 2dppx) {
  .features__item-illustrated--bridge::after {
    background-image: url("../img/background/photo-bridge@2x.jpg");
  }
}
@media (min-width: 768px) {
  .features__item-illustrated--bridge::after {
    order: -1;
    background-image: url("../img/background/photo-bridge-tablet@1x.jpg");
  }
}
@media (min-resolution: 2dppx) {
  .features__item-illustrated--bridge::after {
    background-image: url("../img/background/photo-bridge-tablet@2x.jpg");
  }
}

.features__item-simple {
  background-color: #eeeeee;
  padding: 20px 35px 10px;
  position: relative;
}
@media (min-width: 768px) {
  .features__item-simple {
    min-height: 256px;
    padding: 20px 35px;
  }
}

@media (max-width: 767px) {
  .features__item-simple + .features__item-simple::before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #d6d6d6;
    left: 20px;
    right: 20px;
    top: 0;
  }
}
.features__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin: 5px 20px 14px;
}
@media (min-width: 768px) {
  .features__title {
    font-size: 21px;
    margin: 21px 20px 14px;
  }
}

.features__title-illustrated {
  color: #ffffff;
}

.features__description {
  line-height: 21px;
}
.features__description::before {
  display: block;
  content: "— №" counter(features) " —";
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .features__description::before {
    margin-bottom: 21px;
  }
}

.features__town {
  grid-column: 1/-1;
  order: 3;
}

.features-town {
  background-color: #ffffff;
}

.features-town__list {
  list-style: none;
  margin: 0;
  padding: 16px 20px 13px 69px;
  text-align: left;
}
@media (min-width: 768px) {
  .features-town__list {
    margin-top: 38px;
    margin-bottom: 38px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    text-align: center;
  }
}

.features-town__item {
  position: relative;
}
@media (min-width: 768px) {
  .features-town__item {
    padding: 96px 20px 20px;
  }
}

@media (min-width: 768px) {
  .features-town__item--food {
    padding: 96px 40px 20px;
  }
}

.features-town__item::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-125%, -25%);
}

.features-town__item--housing::before {
  background-image: url("../img/decor/house.svg");
}

.features-town__item--souvenir::before {
  background-image: url("../img/decor/gift.svg");
}

.features-town__item--food::before {
  background-image: url("../img/decor/burger.svg");
}

.features-town__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .features-town__title {
    font-size: 21px;
    margin: 26px 10px 23px;
  }
}

.features-town__description {
  color: #333333;
  line-height: 21px;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .features-town__description {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .features-town__item--souvenir {
    order: 2;
  }
  .features-town__item::before {
    background-size: 76px 75px;
    width: 76px;
    height: 75px;
    transform: translate(-50%, -100%);
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
  cursor: pointer;
  word-break: break-word;
  min-height: 58px;
  width: 100%;
  padding: 10px;
  margin: auto;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
}
.button:active .button__text {
  opacity: 0.3;
}

.button:disabled {
  background-color: #e5e5e5;
}

.search {
  text-align: center;
}

.search__caption {
  padding-top: 12px;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .search__caption {
    font-size: 30px;
    padding-top: 10px;
  }
}

.search__text {
  line-height: 24px;
  max-width: 435px;
  margin: auto;
}

.search__button {
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 458px;
}
@media (min-width: 768px) {
  .search__button {
    margin-top: 38px;
    margin-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .search__button {
    margin-top: 42px;
    margin-bottom: 66px;
  }
}

.social {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link:hover {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}

.social__icon {
  background-position: center;
}
.social__icon:active {
  opacity: 0.3;
}

.page-footer {
  display: grid;
  padding-top: 10px;
  padding-bottom: 22px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .page-footer {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 14px;
  }
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .page-footer__hashtag {
    justify-self: start;
  }
}

.page-footer__social {
  margin-top: 10px;
  margin-bottom: 20px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #000000;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    justify-self: end;
  }
}

.page-footer__copyright:hover {
  color: #81b3d2;
}

.page-footer__copyright:active {
  opacity: 0.3;
}

.description {
  text-align: center;
  padding: 20px;
  max-width: 485px;
  margin: auto;
}

.description__title {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
@media (min-width: 768px) {
  .description__title {
    font-size: 30px;
    line-height: 40px;
  }
}

.description__text {
  line-height: 24px;
}

.feedback__form {
  margin: 20px;
  display: grid;
  row-gap: 30px;
}
@media (min-width: 768px) {
  .feedback__form {
    margin: 60px;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
  }
}
@media (min-width: 1200px) {
  .feedback__form {
    margin: 56px 120px 66px;
    grid-template-columns: 1fr 1fr;
  }
}

.feedback__fieldset {
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
  position: relative;
}

@media (max-width: 768px) {
  .feedback__fieldset::before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #e5e5e5;
    top: -60px;
    left: -20px;
    right: -20px;
  }
}
@media (min-width: 768px) {
  .feedback__fieldset--contacts,
  .feedback__fieldset--visits,
  .feedback__fieldset--emotions {
    grid-column: 1/-1;
    justify-content: center;
    border-top: 1px solid #dbdbdb;
  }
}

@media (min-width: 1200px) {
  .feedback__fieldset--contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .feedback__fieldset--impression {
    order: -1;
    justify-content: start;
    position: relative;
  }
}

@media (min-width: 768px) {
  .feedback__fieldset--impression::after {
    position: absolute;
    content: "";
    width: 1px;
    background-color: #dbdbdb;
    top: -30px;
    bottom: 10px;
    right: 0;
  }
}

@media (min-width: 768px) {
  .feedback__fieldset--introduce {
    margin-left: 58px;
  }
}
@media (min-width: 1200px) {
  .feedback__fieldset--introduce {
    margin-left: 80px;
  }
}

.feedback-form__footnote {
  text-align: end;
}

.feedback-form__button {
  max-width: 480px;
}
@media (min-width: 768px) {
  .feedback-form__button {
    min-width: 324px;
  }
}

.fieldset__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin: auto;
  text-align: center;
}

.fieldset__title--contacts {
  margin-left: 20px;
}
@media (min-width: 768px) {
  .fieldset__title--contacts {
    margin: auto;
  }
}

@media (min-width: 768px) {
  .fieldset__title--contacts,
  .fieldset__title--visits,
  .fieldset__title--emotions {
    width: 400px;
    padding: 20px 60px;
  }
  .fieldset__title--introduce {
    padding: 20px 20px 20px 0;
    margin-left: 0;
  }
}
.fieldset__label {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
  cursor: pointer;
}

.fieldset__label--contacts {
  padding-left: 22px;
}
@media (min-width: 1200px) {
  .fieldset__label--contacts {
    padding-left: 0;
  }
}

.fieldset__field {
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 18px 22px 14px 22px;
  width: 100%;
}
.fieldset__field:hover {
  background-color: #e5e5e5;
}
.fieldset__field:focus, .fieldset__field:active {
  background-color: #ffffff;
  outline: none;
  border: 4px solid #e5e5e5;
  padding: 12px 18px 10px 18px;
}
.fieldset__field::-moz-placeholder {
  font-weight: 700;
  color: #000000;
}
.fieldset__field::placeholder {
  font-weight: 700;
  color: #000000;
}

.fieldset__field--phone,
.fieldset__field--mail {
  background-repeat: no-repeat;
  background-position: right 20px top 50%, 0 0;
}
@media (min-width: 1200px) {
  .fieldset__field--phone,
  .fieldset__field--mail {
    width: 316px;
  }
}

.fieldset__field--emotions {
  height: 160px;
}

.fieldset__field--phone {
  background-image: url("../img/icon/phone.png"), linear-gradient(to left, #e6e6e6 58px, transparent 58px);
}

.fieldset__field--mail {
  background-image: url("../img/icon/mail.png"), linear-gradient(to left, #e6e6e6 58px, transparent 58px);
}

.fieldset__list {
  list-style: none;
  padding-left: 0px;
}

@media (min-width: 768px) {
  .fieldset__list--visits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .fieldset__list--visits {
    grid-template-columns: repeat(4, 1fr);
  }
}

.fieldset__item {
  margin-bottom: 10px;
}

.selector {
  position: relative;
}

.selector__label {
  display: block;
  cursor: pointer;
  padding: 17px 5px 17px 85px;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
}

.selector__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selector__input::before {
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 5%;
}
.selector__input:hover::before {
  background-color: #e5e5e5;
}
.selector__input:active::before {
  background-color: #d5d5d5;
}
.selector__input:checked::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
}
.selector__input:active:checked::after {
  opacity: 0.3;
}
.selector__input:disabled::before {
  background-color: #fcfcfc;
  cursor: not-allowed;
}

.selector__input--radio::before {
  border-radius: 50%;
}

.selector__input--radio:checked::after {
  border-radius: 50%;
  background-color: #333333;
}

.selector__input--checkbox:checked::after {
  background-image: url(../img/icon/tick.svg);
  background-repeat: no-repeat;
  background-color: inherit;
}

.gallery__foto {
  display: grid;
}
@media (min-width: 768px) {
  .gallery__foto {
    grid-template-columns: 1fr 1fr;
    padding-right: 60px;
    padding-left: 60px;
    justify-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .gallery__foto {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.foto__figure {
  display: grid;
  margin: 0;
  line-height: 24px;
  padding: 22px 20px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .foto__figure {
    padding: 0;
  }
}

.foto__figure:first-of-type {
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .foto__figure:first-of-type {
    grid-column: 1/-1;
  }
}

.foto__caption {
  font-weight: 700;
  color: #000000;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .foto__caption {
    background-color: #f2f2f2;
    padding: 15px 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 85px;
    grid-template-rows: repeat(2, 25px);
    grid-template-areas: "caption likes" "autor likes";
  }
}
@media (min-width: 1200px) {
  .foto__caption {
    margin-top: -80px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    position: sticky;
  }
}

@media (min-width: 768px) {
  .foto__figure:nth-of-type(2n+3) .foto__caption {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .foto__figure:nth-of-type(2n+3) .foto__caption {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 768px) {
  .foto__figure:nth-of-type(even) {
    justify-self: flex-end;
  }
}

.foto__author {
  grid-area: autor;
  text-transform: none;
  color: #333333;
  font-weight: 400;
}
@media (min-width: 1200px) {
  .foto__author {
    color: #ffffff;
  }
}

.foto__likes {
  grid-area: likes;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 15px 15px 15px 0px;
  border: none;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
}
@media (min-width: 768px) {
  .foto__likes {
    padding: 15px 0px 15px 15px;
  }
}

.foto__likes--love {
  color: #5496bd;
}

.foto__likes-icon {
  opacity: 0.3;
}
@media (min-width: 1200px) {
  .foto__likes-icon {
    opacity: 1;
  }
}

.foto__likes-number {
  display: block;
  font-weight: 700;
}

.video__player {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .video__player {
    margin-right: 60px;
    margin-left: 60px;
  }
}
@media (min-width: 1200px) {
  .video__player {
    margin-right: 200px;
    margin-left: 200px;
  }
}

.video__picture {
  margin-bottom: -45px;
}
@media (min-width: 768px) {
  .video__picture {
    margin-bottom: -93px;
  }
}

.video__controls {
  display: grid;
  grid-template-rows: 45px 66px;
  grid-template-columns: 70px 140px 70px;
  grid-template-areas: "scale scale scale" "replay subtitles fullscreen";
  background-color: rgba(0, 0, 0, 0.6);
  margin-right: 20px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .video__controls {
    min-width: 648px;
    margin-right: 0px;
    margin-left: 0px;
    grid-template-rows: 93px;
    grid-template-columns: 70px 1fr 70px 70px;
    grid-template-areas: "replay scale subtitles fullscreen";
  }
}
@media (min-width: 1200px) {
  .video__controls {
    min-width: 800px;
  }
}

.control__scale {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .control__scale {
    width: 100%;
  }
}

.control__scale-input {
  grid-area: scale;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  min-width: 235px;
}
@media (min-width: 768px) {
  .control__scale-input {
    width: 390px;
  }
}
@media (min-width: 1200px) {
  .control__scale-input {
    min-width: 540px;
  }
}

.control__scale-input::-moz-range-thumb {
  border: none;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #ffffff;
}

.control__scale-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #ffffff;
}

.control__button {
  border: none;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .control__button {
    background-color: rgba(0, 0, 0, 0);
  }
}

.control__button--replay {
  grid-area: replay;
}

.control__button--subtitles {
  grid-area: subtitles;
  display: flex;
  justify-content: flex-end;
}

.control__button--fullscreen {
  grid-area: fullscreen;
}

.control__button:hover .control__button-icon {
  fill: #333333;
}
@media (min-width: 768px) {
  .control__button:hover .control__button-icon {
    fill: rgba(255, 255, 255, 0.6);
  }
}

.control__button:active .control__button-icon {
  fill: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .control__button-icon {
    fill: #ffffff;
  }
}

.map__iframe {
  width: 100%;
  height: 350px;
  border: none;
}

.pop-up {
  display: none;
  position: fixed;
  width: 320px;
  top: 50%;
  left: calc(50% - 160px);
  background-color: #ffffff;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.pop-up--error {
  padding: 40px 42px 35px 42px;
}
@media (min-width: 768px) {
  .pop-up--error {
    width: 400px;
    left: calc(50% - 200px);
    padding: 35px 47px 50px 47px;
  }
}

@media (min-width: 768px) {
  .pop-up--sent {
    width: 640px;
    left: calc(50% - 320px);
  }
}

.description--sent {
  padding: 30px 40px;
}
@media (min-width: 768px) {
  .description--sent {
    padding: 20px;
  }
}

.pop-up__button {
  max-width: 180px;
  margin-top: 26px;
}
@media (min-width: 768px) {
  .pop-up__button {
    max-width: 270px;
  }
}

.pop-up__button--sent {
  margin-top: 5px;
  max-width: 320px;
  border: 20px solid #f2f2f2;
}
@media (min-width: 768px) {
  .pop-up__button--sent {
    max-width: 640px;
    border-width: 44px 91px;
  }
}
/*# sourceMappingURL=style.css.map */
