.control__scale {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.control__scale-input {
  grid-area: scale;
  appearance: none;
  cursor: pointer;
  height: 3px;
  background-color: rgba($white, 0.2);
  min-width: 235px;

  @media (min-width: $tablet-width) {
    width: 390px;
  }
  @media (min-width: $desktop-width) {
    min-width: 540px;
  }
}

.control__scale-input::-moz-range-thumb {
  border: none;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: $white;
}

.control__scale-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: $white;
}

.control__button {
  border: none;
  cursor: pointer;
  align-items: center;
  background-color: $grey_200;
  @media (min-width: $tablet-width) {
    background-color: rgba($black, 0.0);
    display: flex;
    justify-content: center;
  }
}

.control__button--replay {
  grid-area: replay;
}

.control__button--subtitles {
  grid-area: subtitles;
  display: flex;
  justify-content: flex-end;
  @media (min-width: $tablet-width) {
    justify-content: center;
  }
}

.control__button--fullscreen {
  grid-area: fullscreen;
  @media (min-width: $tablet-width) {
    justify-self: flex-start;
  }
}

.control__button:hover .control__button-icon {
  fill: $grey_800;
  @media (min-width: $tablet-width) {
    fill: rgba($white, 0.6);
  }
}

.control__button:active .control__button-icon {
  fill: rgba($white, 0.3);
}

.control__button-icon {
  @media (min-width: $tablet-width) {
    fill: $white;
  }
}
