.description {
  text-align: center;
  padding: 8px 20px;
  max-width: 485px;
  margin: auto;
}

.description__title {
  font-weight: 700;
  font-size: 18px;
  color: $black;
  margin-bottom: 26px;
  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.description__text {
  line-height: 24px;
}
