.page-footer {
  display: grid;
  padding-top: 10px;
  padding-bottom: 22px;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 14px;
  }
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: 700;
  color: $black;
  @media (min-width: $tablet-width) {
    justify-self: start;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__social {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: $black;
  margin-top: 20px;
  @media (min-width: $tablet-width) {
    justify-self: end;
    margin-top: 0;
  }
}
