.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__logo {
  height: 56px;
  z-index: 2;

  &--disabled {
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-img {
    height: 96px;
    width: 187px;
  }
}

.page-header__nav {
  @media (max-width: $mobile-width) {
    order: -1;
  }

  @media (min-width: $tablet-width) {
    min-height: 56px;
  }
}

.page-header__foto {
  background-color: $blue_100;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto, cover;
  width: 100%;
  display: flex;
  justify-content: center;
  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.page-header__foto--main {
  min-height: 389px;
  background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-mobile--main.jpg");
  @media (min-resolution: 2dppx) {
    background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-mobile--main@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 518px;
    background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-tablet--main.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-tablet--main@2x.jpg");
    }
  }
}

.page-header__welcome {
  min-width: 282px;
  min-height: 214px;
  margin: 90px 10px 85px;

  @media (min-width: $tablet-width) {
    margin: 75px 10px 90px;
    min-width: 465px;
    min-height: 350px;
  }
}

.page-header__foto--not_main {
  min-height: 158px;
  background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-mobile.jpg");
  @media (min-resolution: 2dppx) {
    background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-mobile@2x.jpg");
  }
  @media (min-width: $tablet-width) {
    max-height: 290px;
    background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-tablet.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/decor/mask-decor.svg"), url("../img/background/header-tablet@2x.jpg");
    }
  }
  @media (min-width: $desktop-width) {
    max-height: 311px;
  }
}

.page-header__sedona {
  min-width: 229px;
  min-height: 39px;
  margin: 52px 10px 50px;

  @media (min-width: $tablet-width) {
    margin: 95px 10px 115px;
    min-width: 460px;
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    margin: 101px 10px 120px;
  }
}
