.selector {
  position: relative;
}

.selector__label {
  display: block;
  cursor: pointer;
  padding: 17px 5px 17px 85px;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
}

.selector__input {
  appearance: none;
  position: absolute;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
   content: "";
   display: block;
   width: 55px;
   height: 55px;
   background-color:  $grey_200;
   border-radius: 5%;
  }
  &:hover::before {
   background-color: $grey_300;
  }
  &:active::before {
   background-color: $grey_500;
  }
  &:checked::after {
   content: "";
   position: absolute;
   width: 22px;
   height: 22px;
  }
  &:active:checked::after {
    opacity: 0.3;
  }
  &:disabled::before {
    background-color:  $grey_50;
    cursor: not-allowed;
  }
}

.selector__input--radio::before {
  border-radius: 50%;
}

.selector__input--radio:checked::after {
  border-radius: 50%;
  background-color: $grey_800;
}

.selector__input--checkbox:checked::after {
  background-image: url(../img/icon/tick.svg);
  background-repeat: no-repeat;
  background-color: inherit;
}
