.social {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: $blue_200;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
  background-color: $blue_300;
  }
  &:active {
  background-color: $blue_400;
  }
}

.social__icon {
  background-position: center;
  &:active {
  opacity: 0.3;
  }
}
