// Colors

$white: #ffffff;

$grey_50: #fcfcfc;
$grey_100: #eeeeee;
$grey_200: #f2f2f2;
$grey_250: #eaeaea;
$grey_300: #e5e5e5;
$grey_400: #e6e6e6;
$grey_450: #dbdbdb;
$grey_500: #d5d5d5;
$grey_600: #d6d6d6;
$grey_700: #5C6870;
$grey_800: #333333;
$grey_900: #000101;
$grey_990: #010101;

$black: #000000;

$coffee_100: #766357;
$coffee_200: #604e43;

$blue_100: #c3d8e4;
$blue_200: #81b3d2;
$blue_300: #669ec0;
$blue_400: #5496bd;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width: 767px;
